@media all and (min-width:1728px){
    footer{
        height:1300px;
    }

    #gnb{
        margin-left:500px;
    }

    #gnb li{
        font-size:1.13em;
        margin-right:80px;
    }

    .btn-area2{
        left:300px;
    }

    #overview-ul{
        font-size:1em;
    }

    #survey-ul{
        font-size:1em;
    }

    #survey-1 p{
        margin-left:23%;
    }

    #survey-2 p{
        margin-left:23%;
    }

    #survey-3 p{
        margin-left:23%;
    }

    #service-ul{
        font-size:1em;
    }

    #service-target h1{
        font-size:3em;
    }

    .target_img{
        height:250px;
    }

    .target_img2{
        height:250px;
    }

    .target_img3{
        height:250px;
    }
    
    .target_txt{
        margin-top:10%;
    }
    
    #ux-goal-ul{
        font-size:1em;
    }

    #ux-goal h1{
        font-size:2.8em;
        margin-left:18%;
        margin-top:12%;
    }

    .ux-goal-box{
        margin-top:23%;
    }

    .ux-goal-1 h2{
        margin-top:36%;
        margin-left:31%;
    }

    .ux-goal-2 h2{
        margin-top:41%;
        margin-left:31%;
    }

    .ux-goal-3 h2{
        margin-top:41%;
        margin-left:31%;
    }

    #logo-design-ul{
        font-size:1em;
    }

    #logo-design h1{
        font-size:2.2em;
    }

    .logo-design-txt h2{
        margin-left:29%;
    }

    .logo-design-txt p{
        margin-left:29%;
    }

    #color h1{
        font-size:2.2em;
    }

    .rookie-yellow h3{
        font-size:1.56em;
        margin-top:33%;
    }

    .rookie-yellow span{
        font-size:0.94em;
        margin-top:38%;
    }

    .pro-bluepurple h3{
        font-size:1.56em;
        margin-top:33%;
    }

    .pro-bluepurple span{
        font-size:0.94em;
        margin-top:38%;
    }

    .mate-white h3{
        font-size:1.56em;
        margin-top:38%;
    }

    .mate-white span{
        font-size:0.94em;
        margin-top:45%;
    }

    #icon h1{
        font-size:2.2em;
    }

    .icon-logo-img{
        margin-top:21.5%;
    }

    .icon-logo-img img{
        width:207px;
        height:207px;
    }

    #icon-img{
        margin-top:21.41%;
        width:997px;
        height:383px;
    }

    #typography h1{
        font-size:2.2em;
    }

    .typo-app{
        font-size:1.88em;
    }

    .typo-app-1{
        font-size:1.88em;
    }

    .typo-app-2{
        font-size:1.5em;
    }

    .typo-app-3{
        font-size:1.38em;
    }

    .typo-app-4{
        font-size:1.25em;
    }

    .typo-app-5{
        font-size:1.13em;
    }

    .typo-web{
        font-size:1.88em;
    }

    .typo-web-1{
        font-size:2.06em;
    }

    .typo-web-2{
        font-size:1.94em;
    }

    .typo-web-3{
        font-size:1.88em;
    }

    .typo-web-4{
        font-size:1.75em;
    }

    .typo-web-5{
        font-size:1.88em;
    }

    .typo-web-6{
        font-size:1.56em;
    }

    .typo-web-7{
        font-size:1.25em;
    }

    #character h1{
        font-size:2.2em;
    }

    #character h2{
        font-size:2.88em;
    }

    #character span{
        font-size:1.25em;
        margin-left:31%;
    }

    #character #ch1-txt{
        font-size:2.88em;
    }

    #character #ch1-sub-txt{
        margin-left:25%;
    }

    #character #ch2-txt{
        font-size:2.88em;
    }

    #character #ch2-sub-txt{
        margin-left:57.5%;
    }

    #ch1-images{
        margin-top:23%;
    }

    #ch2-images{
        margin-top:22%;
    }

    #design-keyword h1{
        font-size:2.2em;
    }

    #app-logo{
        margin-top:23%;
    }

    .app-main-txt{
        margin-top:30%;
        margin-left:16.5%;
    }

    #app-main-img {
        background-position: 80% 50%;
    }

    #app-main-img1 {
        background-position: 80% 50%;
    }

    #app-main-img2 {
        background-position: 80% 50%;
    }

    #app-main-img3 {
        background-position: 80% 50%;
    }

    #ch-select h1{
        font-size:2em;
    }

    #ch-select h2{
        font-size:2.5em;
    }

    #ch-select p{
        margin-top:46.5%;
    }

    #ch-s1{
        margin-top:20%;
    }

    #ch-s2{
        margin-top:20%;
    }

    #app-test h1{
        font-size:2em;
    }

    #app-test h2{
        font-size:2.5em;
    }

    #app-test p{
        margin-top:18%;
    }

    #app-t1{
        margin-top:23%;
    }

    #app-t2{
        margin-top:23%;
    }

    #app-t3{
        margin-top:16%;
    }

    #app-reword h1{
        font-size:2em;
    }

    #app-reword h2{
        font-size:2.5em;
    }

    #app-reword p{
        margin-top:18%;
    }

    #app-video h1{
        font-size:2em;
    }
    
    #app-video h2{
        font-size:2.5em;
    }

    #app-video p{
        margin-top:22%;
    }

    #app-chat h1{
        font-size:2em;
    }

    #app-chat h2{
        font-size:2.5em;
    }

    #app-chat p{
        margin-top:18%;
    }

    #app-c1{
        margin-top:25%;
    }

    #app-c2{
        margin-top:25%;
    }

    #app-c3{
        margin-top:25%;
    }

    #app-c4{
        margin-top:17%;
    }

    #app-c5{
        margin-top:25%;
    }

    #app-m1{
        width:15vw;
        margin-left:17%;
    }

    #app-m2{
        width:15vw;
    }
    
    #app-m3{
        width:10vw;
        margin-top:31%;
    }
    
    #app-m4{
        width:10vw;
        margin-top:31%;
    }

    #app-m5{
        width:10vw;
        margin-top:31%;
    }

    #app-m6{
        width:10vw;
        margin-top:31%;
    }

    #app-m7{
        width:13vw;
        margin-top:24.3%;
    }

    #app-m8{
        margin-top:26%;
    }


    #app-mini-game h1{
        font-size:2em;
    }

    #app-mini-game h2{
        font-size:2.5em;
    }

    #app-mini-main-txt{
        margin-top:18%;
    }

    #app-mini-txt{
        margin-top:29%;
        margin-left:63%;
    }

    #mini-game .page-title{
        margin-top:30%;
    }

    #mini-game .page-title2{
        margin-top:30%;
    }

    #app-mypage h1{
        font-size:2em;
    }

    #app-mypage h2{
        font-size:2.5em;
    }

    #app-mypage p{
        margin-top:18%;
    }

    #app-my1{
        margin-top:26%;
    }

    #app-my2{
        margin-top:26%;
    }

    #app-my3{
        margin-top:14.5%;
    }

    #profile li{
        margin-left:10%;
    }

    .footer-bottom1{
        font-size:1.13em;
    }

    .footer-right p:nth-of-type(1){
        font-size:1.25em;
    }

    .footer-right p:nth-of-type(2){
        font-size:1.13em;
    }

    .footer-right p:nth-of-type(3){
        font-size:1.13em;
    }

    .footer-right p:nth-of-type(4){
        font-size:1.13em;
    }

    .footer-right p:nth-of-type(5){
        font-size:1.13em;
    }

    .copyright{
        font-size:1.13em;
    }

    #pro-1 .speech1{
        top: 35%;
        left: 11%;
    }

    #pro-2 .speech2{
        top: 35%;
        left:40%;
    }

    #pro-3 .speech3{
        top: 35%;
        left:66%;
    }
}

@media all and (min-width:1920px){

    #gnb{
        margin-left:650px;
    }
    .btn-area2{
        left:320px;
    }

    #survey h2{
        font-size:1.56em;
        margin-left:25%;
    }

    #survey h1{
        font-size:1.56em;
    }

    #survey-1 p{
        font-size:1.5em;
        margin-left:17%;
    }

    #survey-2 p{
        font-size:1.5em;
        margin-left:18%;
    }

    #survey-3 p{
        font-size:1.5em;
        margin-left:20%;
    }

    #service-target h1{
        font-size:3em;
    }

    #service-target h2{
        font-size:1.25em;
    }

    #target_move{
        margin-top:32%;
    }

    .target_text{
        margin-top:9%;
        margin-left:2%;
    }

    .target_text p:nth-child(1) {
        font-size:1.2em;
    }

    .target_text p:nth-child(2){
        font-size:1.8em;
    }

    #ux-goal h1{
        font-size:3em;
        margin-left:20%;
    }

    .ux-goal-1 h2{
        margin-top:36%;
        margin-left:31%;
        font-size:2em;
    }

    .ux-goal-2 h2{
        margin-top:42.5%;
        margin-left:31.5%;
        font-size:2em;
    }

    .ux-goal-3 h2{
        margin-top:42.5%;
        margin-left:31.5%;
        font-size:2em;
    }

    #logo-design h1{
        font-size:2.5em;
    }

    .logo-design-txt h2{
        font-size:3.13em;
        margin-left:27%;
        margin-top:40%;
    }

    .logo-design-txt p{
        font-size:1em;
        margin-left:32%;
    }

    #color h1{
        font-size:2.5em;
    }

    #color h2{
        margin-top:14%;
    }

    .rookie-yellow h3{
        margin-top:30%;
    }

    .rookie-yellow span{
        margin-top:34%;
    }

    .pro-bluepurple h3{
        margin-top:30%;
    }

    .pro-bluepurple span{
        margin-top:34%;
    }
    
    .mate-white h3{
        margin-top:35%;
    }

    .mate-white span{
        margin-top:40%;
    }

    #icon h1{
        font-size:2.5em;
    }

    #icon h2{
        margin-top:14%;
    }

    #typography h1{
        font-size:2.5em;
    }

    #typography h2{
        margin-top:14%;
    }

    #character h1{
        font-size:2.5em;
    }

    #character h2{
        font-size:3.13em;
    }

    #character span{
        margin-left:32.5%;
    }

    #character-1{
        margin-top:20%;
    }

    #character-2{
        margin-top:21%;
    }

    #character #ch1-txt{
        margin-top:44%;
        margin-left:31.8%;
    }

    #character #ch1-sub-txt{
        margin-top:48.5%;
        margin-left:26%;
    }

    #character #ch2-txt{
        margin-top:44%;
        margin-left:64.8%;
    }

    #character #ch2-sub-txt{
        margin-top:48.5%;
        margin-left:59%;
    }
    
    #ch1-images{
        margin-top:20%;
    }

    #ch2-images{
        margin-top:19%;
    }

    #design-keyword h1{
        font-size:2.5em;
    }

    #app-logo{
        margin-left:40%;
        /* margin-top:16%; */
    }

    .app-main-txt{
        margin-left:40%;
        /* margin-top:21%; */
    }

    #ch-select .ch-sub{
        margin-top:14%;
    }

    #ch-s1{
        margin-top:19%;
        width:14vw;
    }

    #ch-s2{
        margin-top:19%;
        width:14vw;
        margin-left:29%;
    }

    #ch-s3{
        margin-top:24%;
    }

    #ch-s4{
        margin-top:30%;
    }

    #ch-s5{
        margin-top:37%;
    }

    #ch-s6{
        margin-top:42%;
    }

    #ch-select p{
        margin-top:45.5%;
    }

    #app-t1{
        width:12vw;
        margin-top:22%;
        margin-left:39%;
    }

    #app-t2{
        width:12vw;
        margin-top:22%;
        margin-left:53%;
    }

    #app-t3{
        width:23vw;
        margin-top:13.5%;
        margin-left:63.5%;
    }

    #app-r1{
        width:26vw;
    }

    #app-r2{
        width:20vw;
        margin-top:28%;
    }

    #app-r3{
        width:14vw;
        margin-top:28%;
    }

    #app-v2{
        margin-top:18%;
    }

    #app-v3{
        margin-top:26%;
    }

    #app-my1{
        margin-top:23%;
    }

    #app-my2{
        margin-top:23%;
    }

    #app-my3{
        margin-top:11.5%;
    }

    #profile li{
        margin-left:12%;
    }

    #app-logo{
        margin-top:18%;
        margin-left:15%;
    }

    .app-main-txt{
        margin-top:25%;
        margin-left:17.5%;
    }

    #app-main-img {
        background-position: 80% 50%;
    }

    #app-main-img1 {
        background-position: 80% 50%;
    }

    #app-main-img2 {
        background-position: 80% 50%;
    }

    #app-main-img3 {
        background-position: 80% 50%;
    }
    footer{
        height:1300px;
    }

    #pro-1 .speech1{
        top: 35%;
        left: 12.5%;
    }

    #pro-2 .speech2{
        top: 35%;
        left:41.5%;
    }

    #pro-3 .speech3{
        top: 35%;
        left:68%;
    }

}